/* Layout and Structure */
.progress {
    height: 5px;
}

footer#page-footer {
    text-align: center;
    font-size: 0.8em;
    margin: 20px 0;
}

/* Typography and Text */
p.description {
    margin: 30px 0;
    text-align: justify;
}

p#contribute small {
    margin-right: 20px;
}

p#contribute a {
    text-decoration: none;
    color: #6a737d;
    border-bottom: 1px solid #949ea8;
}

p#contribute a:hover {
    border: none;
}

#awards {
    margin-top: 50px;
    font-size: 0.85em;
}

#awards #techbrunch {
    color: #089e00;
    font-weight: bold;
    font-size: 1.3em;
}

#awards #timer {
    font-family: serif;
    font-size: 1.3em;
}

#awards #mashed {
    color: #00aeef;
    font-weight: bold;
    font-size: 1.3em;
}

/* Animations */
@keyframes strikeThrough {
    0% {
        text-decoration: none;
        color: inherit;
    }
    100% {
        text-decoration: line-through;
        color: #CCC;
    }
}

@keyframes unStrikeThrough {
    0% {
        text-decoration: line-through;
        color: #CCC;
    }
    100% {
        text-decoration: none;
        color: inherit;
    }
}

/* Components */
img#utilists-logo {
    border-radius: 22%;
    box-shadow: 0 0 5px rgba(0,0,0,0.23);
    width: 100px;
    height: 100px;
}

ul#utilists-preview {
    padding: 0;
}

ul#utilists-preview .emoji {
    font-size: 2.8em;
}

#emoji-jumbo {
    font-size: 5em;
}

ul.utilist {
    margin-bottom: 20px;
}

ul.utilist li label {
    cursor: pointer;
}

ul.utilist li.done label {
    color: #CCC;
    animation: strikeThrough 0.3s ease-out forwards;
}

ul.utilist li label {
    animation: unStrikeThrough 0.3s ease-out forwards;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    img#utilists-logo {
        width: 75px;
        height: 75px;
    }
}