<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

        {% if layout.is_list %}
        <title>{{page.title}} - {{page.subtitle}} | {{site.title}}</title>
        {% seo title=false %}
        {% else %}
        {% seo %}
        {% endif %}

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


        <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122326-12"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-122326-12');
        </script>
    </head>
    <body>
        <div class="container">
            {{ content }}
            <footer id="page-footer">utilists &copy; {{ site.time | date: "%Y" }} <a href="https://www.adriavalles.net" title="Adrià Vallès">adrià vallès</a> </footer>
        </div>
        <script src="{{ "/assets/scripts.js" | relative_url }}" type="application/javascript"></script>
    </body>
</html>