---
layout: default
is_list: true
---
<nav class="navbar navbar-light mt-1">
    <a href="/" class="navbar-brand">&larr; uti<strong>lists</strong></a>
    <span class="navbar-text" id="header-tagline">{{ site.tagline }}</span>
</nav>

<div class="bg-light py-5 px-3 rounded-3 border" id="header-block">
    <div class="d-flex align-items-center">
        <div class="flex-shrink-0 display-1">
            <span class="mx-3">{{ page.emoji }}</span>
        </div>
        <div class="flex-grow-1 ms-3">
            <h1 class="display-4">{{ page.title }}</h1>
            <h2 class="h5 fw-light">{{ page.subtitle }}</h2>
        </div>
    </div>
</div>

<p class="description">
    {{ page.description }}
</p>

<div class="row">

    <div class="col-lg-8">
        {% for groups in page.items %}
        <h4>{{ groups.name }}</h4>
        <ul class="utilist list-group">
            {% for item in groups.items %}
            <li class="list-group-item">
                <input class="form-check-input me-2" type="checkbox" value="" id="{{ item | slugify }}">
                <label class="form-check-label stretched-link" for="{{ item | slugify }}">{{ item }}</label>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>

    <div class="col-lg-4" id="sidebar">
        <p class="text-center">
        <div class="btn-group btn-group-sm w-100" role="group" aria-label="Action buttons">
            <button type="button" class="btn btn-outline-secondary" id="clear-checked-items"><i class="bi bi-arrow-clockwise"></i> Reset list progress</button>
            <button type="button" class="btn btn-outline-secondary" id="toggle-checked-items-visibility"><i class="bi bi-eye-slash"></i> Hide checked items</button>
        </div>
        </p>


        {% for category in page.categories %}
        {% if site.categories[category].size <= 1%} {% continue %} {% endif %} <h5>Other {{ category | downcase }}
            checklists</h5>
            <ul>
                {% for post in site.categories[category] %}
                {% if post == page %} {% continue %} {% endif %}
                <li>
                    <a href="{{ post.permalink | relative_url }}" title="{{ post.subtitle }}" class="link-secondary link-offset-1 link-underline-opacity-25 link-underline-opacity-0-hover">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
    </div>

</div>

<div class="row">
    <div class="col-lg-12">
        <p class="text-center text-secondary"><i class="bi bi-file-earmark-arrow-down"></i> Download, print, or save this complete guide for stress-free packing!</p>
    </div>
</div>

<div class="progress fixed-top mx-0 px-0 rounded-0" role="progressbar" aria-label="Progress of done items" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar bg-secondary" style="width: 100%"></div>
</div>