---
layout: default
is_list: true
---
<nav class="navbar navbar-light">
    <a href="{{ site.baseurl }}" class="navbar-brand">uti<strong>lists</strong></a>
    <span class="navbar-text">{{ site.description }}</span>
</nav>

<div class="jumbotron">
    <div class="media">
        <span id="emoji-jumbo" class="align-self-center mr-3">{{ page.emoji }}</span>
        <div class="media-body">
            <h1 class="display-4">{{ page.title }}</h1>
            <h2 class="lead">{{ page.subtitle }}</h2>
        </div>
    </div>
</div>
<p>
    {{ page.description }}
</p>

<div class="row">
    <div class="col-lg-8">
        {% for groups in page.items %}
        <h4>{{ groups.name }}</h4>
        <ul class="utilist list-group">
            {% for item in groups.items %}
            <li class="list-group-item list-group-item-action">{{ item }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
    <div class="col-lg-4">
        {% for category in page.categories %}
        {% if site.categories[category].size <= 1%} {% continue %} {% endif %}
        <h5>Other {{ category }} checklists</h5>
        <ul>
            {% for post in site.categories[category] %}
            {% if post == page %} {% continue %} {% endif %}
            <li>
                <a href="{{ post.permalink | relative_url }}" title="{{ post.subtitle }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</div>
